<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kennie.library.notification">
    <!-- 允许程序振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- API29 禁止后台启动Activity -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
</manifest>